body {
	margin: 0px;
	padding: 0px;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	background-color: #FEF0E3;
}

.banner {
	width: 100%;
	height: 60px;
	overflow: hidden;
	background-color: #00acee;
	font-size: 40px;
	font-weight: bolder;
	text-align: left;
}

.mainbody {
	width: 1024px;
	height: auto;
	overflow: hidden;
	background-color: #FEF0E3;
	margin-top: 30px;
}

.userStream {
	width: 19%;
	margin-left: 2%;
	float: left;
	height: 300px;
	background-color: white;
}

.twitterStream {
	width: 71%;
	height: 100vw;
	margin-right: 6%;
	float: right;
	font-size: 25px;
	font-weight: bolder;
	background-color: white;
	overflow: auto;
	
}

.feed {
	width: 94%;
	height: 94%;
	margin: 3% 3% 3% 3%;
	font-weight: bold;
	font-size: 20px;
	overflow: auto;
}

.tweet {
	color: black;
	border-style: groove;
	border-radius: 8px;
	margin-bottom: 15px;

}

.timestamp {
	color: black;
	font-size: 15px;
}
