body {
	margin: 0px;
	padding: 0px;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	background-color: #FEF0E3;
	font-style: "Helvetica", serif;
}

.banner {
	width: 100%;
	height: 60px;
	overflow: hidden;
	background-color: #00acee;
	font-size: 50px;
	font-weight: bolder;
	text-align: left;
}

#banner-title {
	color: white;
	font-family: "Helvetica", serif;
}

.mainbody {
	width: 1024px;
	height: auto;
	overflow: hidden;
	background-color: #FEF0E3;
	margin-top: 30px;
}

.userStream {
	width: 19%;
	margin-left: 1%;
	float: left;
	height: 300px;
	font-size: 25px;
	background-color: white;
	border-style: solid;
	border-radius: 8px;
}

.twitterStream {
	width: 73%;
	height: 100vw;
	margin-right: 5%;
	float: right;
	font-size: 25px;
	font-weight: bolder;
	background-color: white;
	overflow: auto;
	border-style: solid;
	border-radius: 8px;
	
}

.feed {
	width: 94%;
	height: 94%;
	margin: 3% 3% 3% 3%;
	font-weight: normal;
	font-size: 18px;
	overflow: auto;
	text-overflow: all;
	font-style: "Helvetica", serif;
}

.tweet {
	color: black;
	border-style: groove;
	border-top: none;
	margin-bottom: 14px;
	font-style: "Helvetica", serif;

}

.user {
	border-style: groove;
	border-bottom: none;
	font-size: 20px;
	font-weight: bolder;
	font-style: "Helvetica", serif;
}

.timestamp {
	color: black;
	font-size: 13px;
	float: right;
	text-overflow: all;
}

.viewingMessage {
	font-weight: bolder;
	font-size: 20px;
	margin-top: 30px;
	border-top: solid;

}